include includes/header
h3 box #{Box_ID} received at #{Time_received}

h3 stats: 

p temperature: #{Temperature}
    br 
    | humidity: #{Humidity}
    br
    | presence: #{Presence}

h3 dust:
p PM1: #{Dust1} 
    br 
    | PM2.5: #{Dust2_5}
    br
    | PM10: #{Dust10}

